.anchor-link {
    color: inherit;
    text-decoration: none;
    position: absolute;
    margin-left: 0.5rem;
}

.custom-anchor-icon {
    font-size: 0.8em;
    opacity: 0.3;
    transition: opacity 0.2s;
}

h1:hover .custom-anchor-icon,
h2:hover .custom-anchor-icon,
h3:hover .custom-anchor-icon {
    opacity: 1;
}
